<div class="row">
  <h2 class="col-sm-6">Please Login</h2>
</div>
<form (keyup.enter)="login()">
  <div class="form-group">
      <label for="loginUsername">Username: </label>
      <input type="text" id="loginUsername" name="loginUsername" class="form-control" [(ngModel)]="username">
  </div>
  <div class="form-group">
      <label for="loginPassword">Password: </label>
      <input type="password" id="loginPassword" name="loginPassword" class="form-control" [(ngModel)]="password">
  </div>
</form>
<button class="btn btn-primary" (click)="login()">Log in!</button>
<div *ngIf="errorMsg">
  <span style="color: red;">Login failed.</span>
</div>
